{
    "extends": ["airbnb-base", "plugin:@typescript-eslint/recommended", "prettier", "prettier/@typescript-eslint"],
    "plugins": ["prettier"],
    "rules": {
        "prettier/prettier": ["error"]
    }
}